
#BoxWrapperInput {
  width: 900px;
  height: 220px;
  margin: auto;
  display: flex;

  
}
.Box {
  min-width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 11px 19px -5px rgba(0,0,0,0.49);
}

#ColorBox1 {
  background-color: blue;
}
#ColorBox2 {
  background-color: red;
}
#ColorBox3 {
  background-color: rebeccapurple;
}
#ColorBox4 {
  background-color: yellow;
}
.BoxWrapperOUTput {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;

 
  border: 1px solid black;
  padding: 10px;
 
  margin: auto;
  width: 900px;
  height: 240px;
    position: relative;
    top: 200px;


   
  }  
