html,body{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 255, 177, 0.63);
}

.searchBox {
    text-align: center;
    background-color: blanchedalmond;
    width: 300px;
    margin: auto;
    border-radius: 20px;

    input[name='search'] {
        background: none;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        outline: none;
        border: 0;
    }


    button {
        background: none;
        font-family: 'Rubik', sans-serif;
        outline: none;
        border: 0;

        img {
            width: 20px;
            margin-top: 10px;
            background-color: brown;
        }
    }
}
.allresults {
    border-radius: 10px;
   border: 2px solid black; 
   margin: 10px;
   width: 100%;
   max-width: 400px;

p {
    background-color: rgba(103, 126, 0, 0.671);
    padding: 4px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 0;
}


}