body{
  background-color: rgba(85, 110, 100, 0.349);
}

.input{
  position: relative;
  top:30vh;
  left: 30vw;
  /* display: block; */
  /* margin: auto; */
}

input{
  padding: 1em;
  width: 30em;
  border-radius: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: sans-serif;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
}

input :active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
}

svg{
  width: 24px;
  height:24px;
  position: relative;
  right: 45px;
  top:8px;
}

.results{
  position: relative;
  top:25.5vh;
  left: 30vw;
  width: 30em;
  background-color: white;
  padding: 1em;
  padding-bottom: 0em;
  padding-top: 0em;

  color: #52188c;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
  border-radius:0 0 1em 1em;
}

p{
  /* margin-top: 1em; */
}