<<<<<<< HEAD
<<<<<<< HEAD
.top{
    font-size: 20px;
    color: black;
}
=======
>>>>>>> master
=======
>>>>>>> master

.middel{

    font-size: 16px;
    color: brown;
}

<<<<<<< HEAD
.botoom{
    font-size: 16px;
    color: coral;
=======

.first{
    background: beige;
}

.second{
    background-color: blue;
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
}