body{
  background-color: rgb(211, 202, 219);
}
.phone{
    background-color: rgb(41, 31, 41);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(234, 241, 238);
    height: 630px;
    width: 300px;
    border-radius: 50px;
    margin: auto;}
    .header{
        height: 50px;
        width: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
        
    }
    .arrow {
        border: solid orange;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
      }
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    .back__button{
       
        display: inline-block;
        color: orange;
         
        margin-top:12%;
        margin-left:7%;
        font-size: 30px;
  }
  .nav__top{
    display: inline-block;
    margin-left: 20%;
    text-align: center;
    
     color: rgba(245, 245, 245, 0.082);
    margin-top: 10%;
    width: 35%;
    background-color:rgb(53, 39, 53) ;
    padding: 5px;
    
    border-radius: 30px;
    color: #fff;

  }
    
    span{
font-size: 15px;
    }

        
    #thermometer{
      fill: rgb(234, 241, 238);
     
    }
    #Floor__Lamp {
      fill: rgb(53, 39, 53);
    }
    #Integrated__Lighting{
     fill:  rgb(53, 39, 53);
    }
    
    
   
      .Air__Conditioner{
        color: rgb(225, 222, 228);
       display: flex;
       /* justify-content:start ; */
        /* margin-left: 32%;
        margin-top: 10%;
        width: 35%;
        */
        padding: 5px;
        
      }
      .Floor__Lamp{
        color: rgb(53, 39, 53);
       display: flex;
       padding: 5px; 
      }
      .Integrated__Lighting{
        color: rgb(53, 39, 53);
        display: flex;
        padding: 5px; 
      }
      .card_devices{
        display: flex;
        justify-content:space-between;
        margin-top: 10%;

      }
      .Temperature__Condition{
        display: block;
        margin-top: 30%;
        margin-left: 25%;
          width: 85px;
          height: 220px;
        
          /* overflow-y: scroll; 
          -webkit-overflow-scrolling:touch;
          background-color: whitesmoke; */
        }

      
      ul{
        
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
      /* overflow-x: hidden; */
      /* overflow-y: hidden; */
        overflow-y: scroll; 
        -webkit-overflow-scrolling:touch;
        

      }
      ul::-webkit-scrollbar {
        display: none;
    }
      Li{
        /* background-color:rgb(53, 39, 53) ; */
        list-style-type:none ;
        height: 80px;
        font-size: 70px;
        color: whitesmoke;

      }

.watch{
  width:20px;
  height: 30px;
/* border-right:2px solid orange; */
}

.snow{
  width:20px;
  height: 30px;
  /* border-right:2px solid orange; */

}

.sun{
  width:20px;
  height: 30px;
  /* border-right:2px solid orange; */


}

.moon{
  width:30px;
  height: 30px;
  /* border-left:2px solid orange; */


}




      #sun{
        fill: white;
        
      }
      
    

      .nav__bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
        

      }
    
      .power__Button{
        display: block;
        margin: auto;

        

      }
      
      #img__light--off{
        fill:  orange;
        margin-left: 43%;
        margin-top: 23%;
        

        /* display: block;
        margin: auto; */
         ;
      }
       
      