.bigcontainer {
  width: 450px;
  height: 100%;
  margin: auto;
}
.bigcontainer .container {
  background-color: silver;
  border: 2px solid #8f8e8e;
  width: 100%;
  height: 100%;
  margin: 5px 5px 5px 15px;
  padding: 5px 5px 20px 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr, 6fr;
  gap: 3%;
}
.bigcontainer .container #screan {
  line-height: 1.4;
  font-size: 16px;
  grid-row: 1;
  grid-column: 1/3;
}
.bigcontainer .container .keysContainer {
  grid-row: 2/5;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3%;
}
.bigcontainer .container .keysContainer button {
  width: 100%;
  height: 100%;
}
.bigcontainer .container .mathFunctions {
  grid-row: 2/5;
  grid-column: 2;
}