

.elemets{
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.card{
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin: 5px;
    border-radius: 20px;
}
#box1{
    background-color: rgb(132, 0, 255);
}
#box2{
    background-color: rgb(255, 0, 0);
}
#box3{
    background-color: rgb(0, 255, 0);
}
#box4{
    background-color: rgb(255, 208, 0);
}