body {
    .wrapper {
        width: 90%;
        height: 75vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
        position: relative;

        .gameInfo {
            margin-top: 2.5%;
            text-align: center;
            font-size: 20px;
        }

        #newGame {
            display: block;
            text-align: center;
            padding: 15px 32px;
            background-color: #4caf50;
            color: white;
            border-radius: 0.6em;
            border: 1px solid lightgray;
            margin: auto;
            outline: 0;
        }

        .lowerWrapper {
            display: flex;
            flex-direction: row;
            #hangman {
                width: 45%;
                display: flex;
                justify-content: center;


                img {
                    width: 50%;
                }
            }

            .letters {
                width: 50%;
                float: right;
                margin-right: 5.5%;
                margin-top: 8%;

                #letters {
                    display: grid;
                    grid-template-areas:
                        "q w e r t y u i o p"
                        ". a s d f g h j k l"
                        ". . z x c v b n m .";

                    #buttonLetter {
                        border: none;
                        color: white;
                        background-color: #008CBA;
                        padding: 15% 15%;
                        border-radius: 0.4em;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 20px;
                        margin: 2% 4%;
                        cursor: pointer;
                        outline: 0;
                    }
                }
            }
        }
    }
}