:root {
  --colorOrange: rgb(248, 132, 0);
  --colorGrey: rgba(128, 128, 128, 0.383);
  --borderRadius: 2vw;
  --titleFont: 'Noto Sans TC', sans-serif;
}

html{
  /* margin: 0%;
  padding: 0%; */
}

body{
  /* background-color: var(--colorGrey); */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100vh; */
  margin: 0%;
  padding: 0%;
}

body::-webkit-scrollbar {
  display: none;
}

.screen {
  min-width: 300px;
  width: 300px;
  height:90vh;
  /* margin: auto; */
  margin-top: .7vh;
  /* border: 1px solid black; */
  border-radius: 2vw;
  color: rgba(128, 128, 128, 0.383);
  padding: 1.7em;
  background-color: white;
  overflow: hidden;

  box-shadow:
  /* 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12) */
  1px 1px 3px rgba(128, 128, 128, 0.596)
;
}

.screen2{
  margin: auto;
}

header{
  display: flex;
  justify-content: space-between;
  color: black;
  
 
}

.headerButton__back{
  font-size: .75rem;
  font-weight: bold;
}

.headerButton__rewards{
  font-size: .9rem;
  font-weight: bold;
  align-items: center;
}

.headerButton__rewards >img{
  width: 1em;
  height: 1em;
}

.gallery__title{
  font-family: var(--titleFont);
 font-weight: normal;
 font-size: 3em;
 margin-top: 0.45em;
 margin-bottom: 0.453em;
}



div.gallery__scrolleArea {
  
  height: 100%;
  overflow: auto;
}

div.gallery__scrolleArea::-webkit-scrollbar {
  display: none;
}

/* .mediaWrapper{
    border: 1px solid black;

    border-radius: var(--borderRadius);


    display: grid;
    grid-template-columns:1fr ;
    grid-template-columns: auto  auto;

    gap: 1em;

    
} */


.gallery__mediaWrapper {
  columns: 4  100px ;
  column-gap: 1em;
  /* width: 100%; */
  /* margin: 0 auto; */

}

.gallery__mediaWrapper div {
    
    margin-bottom: 1em;
    /* margin: 0 1.5rem 1.5rem 0; */
    display: inline-block;
    width: 100%;
    /* border: solid 2px black; */
    /* padding: 5px; */
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
    /* border-radius: 5px; */
    /* transition: all .25s ease-in-out; */
   


    
   
  }

img {
      width: 100%;
      /* filter: grayscale(100%); */
      border-radius: 1em;
      /* transition: all .25s ease-in-out; */
      border: solid 10px rgba(#000, .2);
    }

    /* .video{
      position: relative;
    }

    .video::after{
      content: url(./icons/2.svg) ;
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 3em;
      height: 3em;
      border: 3px solid black;
      z-index: 2;
      top:4em;
    } */