body {
    position: relative;
    height: 905px;
    background: rgb(15, 167, 2);
    background: linear-gradient(0deg, rgba(15, 167, 2, 1) 2%, rgba(97, 181, 88, 1) 17%, rgba(40, 137, 157, 1) 35%, rgba(9, 9, 121, 1) 82%);
}

.invisible{display: none;}
.visible{display: block;}
#box {
    display: none;
    width: 200px;
    height: 200px;
    background-color: tomato;

    margin: auto;
    position: absolute;
    top: 500px;
    left: 700px;
    /*  overflow: hidden; */
}

#plane {
    position: absolute;
    top: 440px;
    left: 590px;
}

#topCover {
    display: none;
    width: 200px;
    height: 15px;
    background-color: yellow;
    margin: auto;
    position: absolute;
    top: 495px;
    left: 700px;
    transition: all 250ms;

}

#Cloun {
    margin: auto;
    position: absolute;
    top: 550px;
    left: 800px;
    transition: all 250ms;

}


#clouds {
    padding: 100px 0;
}


.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}


.x1 {
    animation: moveclouds 15s linear infinite;
}


.x2 {
    left: 100px;
    top: 120px;
    transform: scale(0.6);
    opacity: 0.6;
    animation: moveclouds 25s linear infinite;

}

.x3 {
    left: 150px;
    top: 100px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 100px;
    top: 250px;
    transform: scale(0.75);
    opacity: 0.75;
    animation: moveclouds 18s linear infinite;

}

.x5 {
    left: 100px;
    top: 150px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 20s linear infinite;

}

@keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}

#selection {
    position: relative;
    display: flex;
    top:500px;
    left: 20px;
}

#selection>div {
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
}

#selection h1 {
    margin: 10px;

}

