#searchBar{
    background-color: gray;
    ;
  display: inline-block;
  text-align: center;
   
   margin-top: 1%;
   padding-top: 1%;
   padding-bottom: 1%;
   width: 100%;
}
#createCategories{
    text-align: center;
    margin-top: 1%;

}
#createCategories>button{
    background-color: blueviolet;
    margin-left: 1%;
    color: cornsilk;

}
:hover#mobile,#computers:hover,#electricity:hover,#cars:hover,#fashion:hover{
    background-color: cyan;
    color: darkblue;

}

#root{
    
    text-align: center;
    
  
}
p{
    width: 50%;
   transform: translate();
   
   margin-left: 30%;
}
#searchInsert,#searchInsertObject{
    
    border: solid 1px black;
    margin-top: 1%;
    width: 50%;
    border-radius: 10vw;
   margin: auto;

    

}
#searchInsert:hover{
    background-color: blue;
    color: cornsilk;
    transition: all 300ms;
}


