.phone{
    width: 300px;
    height: 600px;
    margin: auto;
    box-shadow: 2px 2px 6px gray;
    border-radius: 12px;
}
.status-bar{}
.status-bar__time{}
.status-bar__wifi{}
.status-bar__celular{}
.status-bar__battrey{}
