@use 'round';
@use 'rect';
@use 'box';





@mixin rotate($degrees) {
    transform: rotate($degrees);
    border:4px solid green;
}



.box {
    @include rotate(34deg);
    border-radius: 10px;
    background-color: blueviolet;
    padding: 10px;
    width: 200px;

   

    >img {
        width: 100px;
    }

    p {
        font-size: 20px;
        color: white;
    }

    .gold {
        color: gold;
        @include rotate(-34deg);
        border-radius: 10px;
        background-color: blueviolet;
        padding: 10px;
        width: 200px;
    }

    >div{
        background: green;
        >div {
            color: goldenrod;
        }
    }

   
    
}