    * {
       /*  background-color: #30353A;
        color: white; */
    }
    
    .circle {
        width: 150px;
        height: 150px;
        border: solid 4px rgba(0, 0, 0, 0.486);
        background: url(pics/image-asset.jpeg) no-repeat;
        box-shadow: -8px -7px 10px 1px #30373D;
        /* -moz-box-shadow: 10px 10px rgba(0, 0, 0, 0.795);
        -o-box-shadow: 10px -10px -10px -10px rgba(0, 0, 0, 0.6); */
        border-radius: 100px;
        background-size: 110% 100%;
    }
    
    .bigmainPic>img {
        width: 10px;
        height: 15px;
    }

    