input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    /* background: transparent; */ /* Otherwise white in Chrome */
    background: #34393E;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
 
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d,
    inset 18px 13px 23px -11px rgba(0,0,0,0.32);
    /* -webkit-box-shadow: inset 18px 13px 23px 5px rgba(0,0,0,0.28); 
    box-shadow: inset 18px 13px 23px 5px rgba(0,0,0,0.28); */
    border: 12px solid  #34393E;
    height: 18px;
    width: 18px;
    border-radius: 100px;
    background: linear-gradient(135deg, #AA8416 0%, #B1961C 50%, #F2F562 100%);
    cursor: pointer;
    
  }

  /* input[type=range]::-webkit-slider-thumb {
    

    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d,
    inset 18px 13px 23px -11px rgba(0,0,0,0.32);
   
    border: 12px solid  #34393E;
    height: 18px;
    width: 18px;
    border-radius: 100px;
    background: linear-gradient(135deg, #AA8416 0%, #B1961C 50%, #F2F562 100%);
    cursor: pointer;
    
  } */

  input[type=range]::-webkit-slider-thumb {
      background: lawngreen;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #3C4043, 0px 0px 1px #0d0d0d;
    background: linear-gradient(to right, #CE5937 0%, #F9FC59 50%, #0AC51A 100%);
    border-radius: 100px;
    border: 5px solid #050809;
  }

  /* input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #3C4043, 0px 0px 1px #0d0d0d;
    background-image: linear-gradient(to right, #CE5937 0%, #F9FC59 50%, #0AC51A 100%);
    border-radius: 100px;
    border: 5px solid #050809;
  } */