body{
    background-color: rgb(247, 247, 247);
}
.wrapper{
    margin: auto;
}


p{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 20%;
  
}

.input {
  padding-top: 50px;
  }

#inText{
    width: 50%;
    height: 20px;
}
img{
    width: 250px;
}
#categories{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-transform: uppercase;
}
#filterBy{
    display: flex;
    justify-content: start;
    
}
.boxForm{
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 78px;
    width: 500px;
    justify-content: center;
    background-color: #3a3f40;
    border: 1px solid #3a3f40;
    border-bottom: 1px solid #000;
  
   
}