<<<<<<< Updated upstream
body{
    font-family: 'Nunito', sans-serif;

}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    color: rgb(83, 83, 83);
}


input[type="text"]:active{
    background-color: beige;
}

input[type="text"]:focus{
    outline: 0;
    background-color: beige;
}

button{
    border-radius: 6px;
    background-color: blue;
    color:white;
    padding: 10px 30px;
    width: fit-content;
    border:none;
    margin: 5px;
}
button:hover, button:active{
    background-color: rgb(61, 61, 253);
=======
form {
    display: flex;
>>>>>>> Stashed changes
}