form {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 5%;
    border-radius: 15px;
    border: none;
    margin-bottom: 5%;
}

input {
    padding: 5%;
    margin: 2%;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
    outline:none;
}

button {
    padding: 5%;
    margin: 2%;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
    outline:none;
}