body,
html {
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(206, 203, 203);
    position: relative;
    height: 20vh;
    margin: 0;
    padding: 0;


    &Logo {
        background-color: white;
        font-size: 1.5em;
        text-align: center;
        width: 8%;    
        padding: 0.5%;
        position: relative;
        top: 5.5vh;
        left: 3vw;
        border: 1px solid black;
    }

    &Welcome {
        position: relative;
        top: -2vh;
        left: 20vw;
        font-weight: bold;
        font-size: 1.2em;
    }
}

form {
    width: 90%;
    position: relative;
    top: -1vh;
    left: 20vw;
}

.input {
    width: 60%;
}

ul {
    list-style: none;
    margin-left: 60%;
}

li {
    float: left;
    padding: 0 5% 0 5%;
    font-weight: bold;
    color: rgb(24, 56, 87)
}

a {
    text-decoration: none;
}

.product {
    width: 80%;
    margin: auto;
    background-color: rgb(233, 228, 228);
    


    &List {
        border: 1px solid black;
        padding: 2%;
        width: 80%;
        margin: 0.5% 0 0.5% 8%;
        height: 10vh;
        display: flex;
        flex-direction: row;
    }

    &List__p{
        position: relative;
        top: 1.5vh;
        left: 2vw;
    }
}

h2 {
    color: rgb(255, 102, 0);
    text-shadow: 0px 0px 5px rgb(239, 255, 99);
    text-align: center;
    position: relative;
}

img {
    width: 10%;
    height: 100%;
}