body {
    background-color: rgb(225, 225, 241);
    margin: 0;
    box-shadow: inset 2px 90px 110px rgba(0, 0, 0, 0.584);
    padding: 10%;



h2
    {
        margin-top: 5%;
        font-size: 1.3em;
        font-weight: bold;
        font-family: sans-serif;
        color: blueviolet;
        border-radius: 10px;
        // padding: 10px;
    } 
 h2:hover {
        color: rgb(107, 190, 90);
        box-shadow: 2px 2px 6px rgba(161, 160, 160, 0.584);
    }
}