:root{
    --shadowMainBigPic:#383c3f;
    --shadowMainSmallPic:1;

    --shadowMainBigButton:#24292D;
    --shadowMainSmallButton:#3E454B;

    --degrees:30deg;


}



 /* div{
      border:  1px solid burlywood;
  }
 */



.center {
    display: grid;
    place-items: center;
}




.screen{
    display: grid;
    grid-template-columns: 1fr;   
    grid-template-rows: 1fr 5fr 1fr;
    max-width: 355px;
    height: 700px;
    
    background-image: linear-gradient(140deg , #34393F,#17191C );  /* #17191C */

/* background: #25282C; */
    margin: auto;
    border-radius: 50px;
    border: 5px solid #2C3036;
    position: relative;

}
.Ubar{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.container{
    align-self: flex-start;
   
}



.circle>img{
    margin: auto;
    width: 200px;
    height: 200px;
   /*  width: 80%;
    height: 80%; */
    border: solid 6px rgba(0, 0, 0, 0.486);
    border-radius: 100px;
    background-size: 110% 100%;
}

/* .tavlit (--test){
    box-shadow: -8px -7px 10px 1px #383c3f,
    10px 10px 10px #181819; 
} */

.havlta{
    box-shadow: -8px -7px 10px 1px var(--ShadowColor) /* #24292D */,
                10px 10px 10px #181819; 
}

.havltaSmallElements{
    box-shadow: -4px -3px 5px 1px var(--ShadowColor) /* #24292D */,
                5px 5px 5px #181819; 
}
 
.Dmenu{
    grid-row: 3;
    display: flex;
    margin-bottom: 20%;
    margin-left: 10px;
    align-self:end;
    justify-content: space-evenly ;
    
    }


