input {
    background-color: wheat;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
    margin-top: 50px;
}

button {
    background-color: wheat;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}