.screen{
    max-width: 450px;
height: 600px;
/* background-color: aqua; */
background: #e04e4e url("/HTML_CSS/projects/Dribbble 2/groop2 - eyal - Christina/pics/backgraund.jpg") repeat right top;
    margin: auto;

}

.card{
 width: 90%;
 height: 30%;
 background-color: aqua;   
}


#card1:target{
    background-color: blue;
}