body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(74, 182, 150, 0.37);

}

#root {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    // padding: 100px;
    width: 100%;
    height: 100%;
   
    .button {
        margin: .5em;  
        padding: 5px;
        height: 2em;
        width: 2em;
        border: none;
        box-shadow: 2px 2px 6px gray;
        background-color: white;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(63, 63, 63);
        outline: none;
        border-radius: .2em;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    #buttons{
        padding: 1em;
        width: 50%;
        position: absolute;
        right: 0px;
        top: 37vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 7vw;
        

    }

    #letters{
      padding: 1em;
      padding-right: 7vw;
        width: 50%;
        position: absolute;
        right: 0px;
        // top: 25vh;  
        bottom: -30vh;  
        display: flex;
        justify-content: center;
        // margin: auto;
        text-align: center;
      
        
        div{
            border-bottom: black 2px solid;
            box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
            margin: .7em;
            width: 3em;
            font-size: 1.5em;
            
           h1{
             margin: 0px;
        
            
           }
        }
    }

    #myCanvas{
        position: absolute;
        top: 8vw;
        left: 7vw;
        background-color: rgba(0, 0, 0, 0.164);
        border-radius:2em ;
      
    
    }

    .reset{
        position: relative;
        left: 63.3%;
        top: 82vh;
        padding: 1em;
        background-color: rgba(0, 0, 0, 0.808);
        color: white;
        border-radius:1em ;
        outline: 0;
        letter-spacing: 3px;
        font-weight: bold;
        &:hover{
          transform: scale(1.1);
        }
        
    }

    #win{
      position: absolute;
      left: 63%;
      top: 55%;
      font-size: 3em;
      color:rgb(39, 209, 24)
    }

    #lose{
      position: absolute;
      left: 63%;
      top: 55%;
      font-size: 3em;
      color:red;
    }
} 




@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}