@charset "UTF-8";
:root {
  --clr-icons:(#606060);
}

header {
  background: rgba(255, 255, 255, 0.97);
  height: 1.8em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header .connectedAccount img {
  border-radius: 50%;
  width: 2em;
  height: auto;
  margin-left: 2em;
  margin-right: 2em;
}

header .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__icons .icon {
  width: 24px;
  height: 24px;
  margin-right: 1.5em;
  color: var(--clr-icons);
}

.header__search {
  display: block;
  margin: auto;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search .header__searchInput {
  direction: none;
  text-align: right;
  width: 40vw;
  -webkit-box-shadow: inset 0 1px 2px #eee;
          box-shadow: inset 0 1px 2px #eee;
  border: 1px solid #ccc;
}

.header__search .header__searchBtn {
  height: 2em;
  width: 5em;
  height: 100%;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5em;
  height: auto;
}

.header__logo .header__logoHamMenu {
  width: 2em;
  height: auto;
  margin-left: 1em;
}

.sideMenu {
  background: white;
  width: 72px;
  height: 90vh;
  position: fixed;
  right: 0px;
}

.sideMenu .sideMenu__miniGuide {
  width: 5vh;
  margin: auto;
  padding: 1em 0;
  text-align: center;
}

.sideMenu .sideMenu__miniGuide :hover {
  cursor: pointer;
  color: red;
}

.sideMenu .sideMenu__miniGuide .svg {
  width: .8rem;
  height: .8rem;
}

.sideMenu .sideMenu__miniGuide .svg:hover {
  cursor: pointer;
  color: red;
}

.sideMenu .sideMenu__miniGuide span {
  font-size: .6rem;
}

main {
  background-color: #f8f8f8;
  width: calc(100% - 120px);
  padding: 1.5em;
}

main .mediaItemsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

main .mediaItemsWrapper .mediaItem {
  margin-bottom: 2em;
  direction: rtl;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info {
  padding-top: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info .mediaItem__infoChannel {
  height: 36px;
  margin-left: 12px;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info .mediaItem__infoChannel img {
  width: 35px;
  border-radius: 50%;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info .mediaItem__infoTitle {
  font-size: .9rem;
  margin: 0;
  margin-bottom: .5rem;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info .mediaItem__infoDescription, main .mediaItemsWrapper .mediaItem .mediaItem__info span {
  font-size: .9rem;
  color: #606060;
  margin: 0;
  margin-bottom: .1rem;
}

main .mediaItemsWrapper .mediaItem .mediaItem__info .mediaItem__infoDescription .views ::after, main .mediaItemsWrapper .mediaItem .mediaItem__info span .views ::after {
  content: "•";
  margin: 0 4px;
}

main .main__posts {
  direction: rtl;
  margin: auto;
  border-top: 4px solid lightgray;
  border-bottom: 4px solid lightgray;
}

main .main__posts h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: .5px;
  margin-right: .5em;
}

main .main__posts h1 span {
  font-size: 1.2em;
  font-weight: bold;
}

main .main__posts .main__postsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

main .main__posts .main__postsWrapper .main__postsPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 12px 24px 0 24px;
  border: 1px solid lightgray;
  margin-bottom: 1.5em;
}

main .main__posts .main__postsWrapper .main__postsPost .main__postsPostContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */