.box{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    background-color: rgb(252, 238, 214);
    height: 780px;
    margin: auto;
    border:  rgba(136, 136, 136, 0.877) solid 5px;
    text-align: center;
    border-radius: 15px;
    

.title{
    color: black;
    font-size: 25px;
    padding: 8px;
    font-family: 'Arimo', sans-serif;
    margin:5px auto;
    text-align: center;
    direction: rtl;
}

.textbox{
    border-bottom: 2px solid rgba(136, 136, 136, 0.877);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700 ;
    color: rgb(102, 83, 83);
}
}