
// .ytd-app{

// color:rgba($color: #f9f9f9, $alpha: 1.0);

// --app-drawer-width: 240px;
// --app-drawer-content-container_-_background-color: #f9f9f9;
// background: var(--yt-spec-general-background-a);
// display: block;
// right: 0;
// min-height: 100%;
// position: absolute;
// left: 0;
// top: 0;
// }
// content{

//     #container {
//         height: 56px;
//         padding: 0 16px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
body {
    width: 1329px, 5554.25px;
#masthead{
    width: 1329px,56px; 
    display: flex;
    justify-content: center;

}
}
