.moreHeadLines{
  grid-area: moreHeadLines ;
  h4{
    background-color: $color-primaryBlue ;
    color: white;
    font-family: Arial, Verdana, Sans-serif;
    font-size: 1rem;
    padding: 0.1em .5em 0.2em 0 ;
   
  }
  .headLinesWraper{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding:  .5em 0;
    padding-top: var(--space) ;
    padding-bottom: var(--space) ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--space);
    .headLine{
      max-height: 12em;
      overflow: hidden;
      img{
        width: 100%;
         max-height:8.5em;
      }
      p{
        font-weight:bold;
        /* margin-top: 1vw; */
        font-size: .9rem ;
        padding: .1em 0;
        text-align: right;
        width: 100%;
      }
    }
  }
}

.popular{
  grid-area: popular ;
}



