body {
  background-color: aquamarine;
  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  body {
    width: 99vw;
    height: 90vh;
  }
}
body #appContainer header h1 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
body #appContainer #body {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  height: 40vh;
  background-color: #7facff;
  padding: 1% 2% 3% 2%;
}
@media only screen and (min-width: 260px) {
  body #appContainer #body {
    flex-direction: column;
  }
}
@media only screen and (min-width: 480px) {
  body #appContainer #body {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  body #appContainer #body {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  body #appContainer #body {
    flex-direction: row;
  }
}
body #appContainer #body .Column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1%;
  margin-right: 1%;
}
body #appContainer #body .Column #LangTolabel {
  align-self: flex-end;
}
body #appContainer #body .Column #LangTo {
  /*  height: 10%; */
  line-height: 1.5rem;
  font-size: large;
  margin-bottom: 1%;
  width: 30%;
  align-self: flex-end;
}
@media only screen and (min-width: 768px) {
  body #appContainer #body .Column #LangTo {
    height: 10%;
  }
}
body #appContainer #body .Column #LangFrom {
  /*  height: 10%; */
  line-height: 1.5rem;
  font-size: large;
  margin-bottom: 1%;
  width: 30%;
}
@media only screen and (min-width: 768px) {
  body #appContainer #body .Column #LangFrom {
    height: 10%;
  }
}
body #appContainer #body .Column textarea {
  height: 100%;
}