.grid-item{
    border: 1px solid black;
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
   grid-template-rows: 100px 100px;
    background-color: aqua;
    // width: 100px;
    // height: 100px;
.item{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
    h1{
        color: red;
    }

    p{
        color: blue;
    }

    

}
}
.grid-item1{
    border: 1px solid black;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   grid-template-rows: 100px 100px;
    background-color: aqua;
    // width: 100px;
    // height: 100px;
.item1{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
    h1{
        color: red;
    }

    p{
        color: blue;
    }

    

}
}