

// search.html
.anotherRoot {
    border: 1px solid black;
    width: 35%;
    margin: auto;
    img {
        width: 85%;
        height: 500px;

        
    }
}


// categores.html
#root2 {
    border: 1px solid black;
    width: 35%;
    margin: auto;
    img {
        width: 85%;
        height: 500px;

        
    }
}